

.title {
  height: auto;
  text-align: center;
      
}
.mylist{
  font-size: 50px;
  color:rgb(244, 164, 178);


}

.list{
  background-image:url(image.jpg) ;
  background-repeat: no-repeat;
  background-size: 100%;
  padding:30px;
  text-align: center;
  max-width: 500px;
  margin: auto;
  border:5px solid rgb(244, 164, 178);
  border-radius: 15px;

}

.item{
  font-size: 30px;
  color:rgb(139, 60, 92);
}

.add-but{
  background-color:rgb(244, 164, 178) ;
  color: black;
  width: 70px;
  border:none;
  height: 30px;
  margin-left: 5px;

}
.delete-but{
  border-radius:30px;
  background-color:rgb(233, 86, 108) ;
  border: none;
  margin-left: 10px;
}
input{
  height: 30px;
  border-radius:15px ;
  border:2px solid rgb(244, 164, 178);
}
ul{
  list-style: none;
  color:rgb(143, 61, 75);
}
.newPage{
  margin-top: 20px;
  background-color: rgb(143, 61, 75);
  border: none;
  color: aliceblue;
  width:120px;
  height: 30px;
}